div(flex)  
        form
            div.md-padding(flex)
                label Input File №1
                    input(
                        type='file'
                        name='test'
                        file-model="file1",
                        )
            div.md-padding(flex)
                label Input File №2
                    input(
                        file-model="file2"
                        type='file'
                        name='test',
                       )