div(flex layout="row" layout-align="center center")  
        form
        div.md-padding(flex)
            label PVS CSV File Output:
                input(
                    type='file'
                    name='test'
                    file-model="compareFiles.file1"
                    )
        div.md-padding(flex)
            label Assure CSV File Output:
                input(
                    file-model="compareFiles.file2"
                    type='file'
                    name='test'
                   )
    div(flex=50 layout-align="center center")  
        md-button.md-primary.md-raised(ng-click='test()') Submit
ec-csv-compare-result(ng-hide='!differences').